/*
  TODO:
    - Hacer clases espcíficas para bordes, fondos de caja, efectos de tipografía...:
      Dado que me salto hijos, no puedo usar border: inherit correctamente.
    - Partir el css y usar include para por ejempl los elementos de la cabecera.
*/

@font-face {
  font-family: 'Cantarell';
  src: url('../assets/fonts/Cantarell-VF.otf') format('opentype');
}

@font-face {
  font-family: 'Comfortaa';
  src: url('../assets/fonts/Comfortaa-Light.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Comfortaa';
  src: url('../assets/fonts/Comfortaa-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Comfortaa';
  src: url('../assets/fonts/Comfortaa-Medium.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Comfortaa';
  src: url('../assets/fonts/Comfortaa-SemiBold.otf') format('opentype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Comfortaa';
  src: url('../assets/fonts/Comfortaa-Bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
}

* {
  font-family: "Cantarell", sans-serif;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding-bottom: 2dvh;
  font-family: Comfortaa, sans-serif;
  color: white;
  text-shadow: 1px 1px 1px slategrey,
    1px 1px 4px black;
}

p {
  letter-spacing: 0.03em;
  color: white;
  text-shadow: 1px 1px 2px black,
    1px 1px 8px black;
}

code,
kbd,
pre,
samp,
var {
  font-family: "Adwaita Mono", monospace;
}

body {
  margin: 0;
  background-image: url('../assets/background/1.jpg');
  background-attachment: fixed;
  background-size: 150% 150%;
  min-width: 280px;
}

body>header {
  position: relative;
  color: white;
  box-shadow: 0 0 4px 5px rgba(0, 0, 0, 0.4);
  margin-bottom: 3dvh;
}

#tituloCabecera {
  position: absolute;
  /*
    top a mitad y transform para subirlo la altura del elemento.
    Forma de centrar sin usar flexbox.
  */
  top: 50%;
  transform: translateY(-50%);
  margin: 0;
  width: 100%;
  font-family: Comfortaa, sans-serif;
  font-weight: 700;
  font-size: 6dvh;
  text-align: center;
  /*
    Sombra para mejorar la legibilidad con la capa oscura
    que ahora he puesto sobre la imagen ya no hace tanta
    falta pero también mejora la apariencia.
  */
  text-shadow: 2px 2px 1px black,
    1px 1px 8px black;
  /*
    Necesario para que la capa oscura de imagen no quede encima
    del texto.
  */
  z-index: 3;
}

.imagenCabecera {
  /*
    Uso posición relativa para que el caption no se posicione
    encima del borde del elemento si se decide ponerlo.
  */
  position: relative;
  margin: 0;
}

.imagenCabecera.inactiva {
  transition: opacity 1.5s;
  position: absolute;
  width: 100%;
  top: 0;
  /*
    Se hace fade-in out de una a otra por lo que no sería
    estrictamente necesario, pero así aseguramos que si ambas
    quedan visibles, la activa sea la queda por encima.
  */
  z-index: 2;
  /*
    Dado que la capa inactiva está encima para que el efecto de
    transición sea el desvanecimiento de esta, es necesario hacer
    que dicha capa no haga caso a los eventos del ratón si queremos
    por ejemplo poder seleccionar el texto de caption de la activa
    que está por debajo.
  */
  pointer-events: none;
}

.imagenCabecera>figcaption {
  position: absolute;
  top: 0;
  padding: 3px 5px 5px 3px;
  color: lightgrey;
  font-size: 0.8em;
  text-shadow: 1px 1px 1px black;
  font-style: italic;
  border-radius: 0 0 5px 0;
  background: linear-gradient(rgba(255, 255, 255, 0.1), rgba(80, 80, 80, 0.3));
  backdrop-filter: blur(2.5px) brightness(70%);
  z-index: 1;
}

/* Capa oscura sobre la imagen para mejorar la legibilidad */
.imagenCabecera::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.5));
}

.imagenCabecera>img {
  /*
    Ponerlo como block evita que su div contenedor reserve una
    línea de texto debajo
  */
  display: block;
  /*
    Ajustamos 100% de ancho con altura máxima y mínima redimensionando
    la imagen hasta que cubra el espacio manteniendo su relación de aspecto
  */
  width: 100%;
  min-height: 20dvh;
  max-height: 20dvh;
  object-fit: cover;
}

main {
  overflow: hidden;
}

main>section,
footer {
  margin: 2dvw;
  padding: 2dvw;
  border-radius: 1dvw;
  background: linear-gradient(rgba(0, 155, 255, 0.1), rgba(0, 80, 220, 0.2));
  box-shadow: 0 0 0.9dvw 0.3vw rgba(0, 0, 0, 0.3);
  /*
    Por algún motivo que desconozco si le doy un filtro de
    desenfoque a la sección, deja de aplicar el filtro en los
    hijos que lo tengan especificado.
  */
  /* backdrop-filter: blur(2.5px); */
}

footer {
  backdrop-filter: blur(2.5px);
}

#imgGalery {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  gap: 2dvw;
  margin: 0;
  padding: 0;
}

#imgGalery .card {
  flex-basis: calc(100%);
  margin: 0;
  transition: transform 0.3s ease;
  border-radius: 1dvw;
  background: linear-gradient(rgba(0, 155, 255, 0.1), rgba(0, 80, 220, 0.2));
  box-shadow: 0 0 0.9dvw 0.3vw rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(3px);
}

#imgGalery .card:hover {
  transform: scale(1.2);
  z-index: 1;
}

/*
  No puedo usar el pseudo selector hover en cardFigure porque con
  el efecto de transformación hago un padding entre medias de card
  y el. Ese espacio deja de ser hover de cardFigure. Partiendo del
  pseudoselector hover en card meto que a sus hijos cardFigure y
  así lo aplica mientras tenemos el hover en card.
  Porque no simplemente meto un padding a card es por dos motivos,
  uno que no hay transición como con transform y dos que al hacer
  hover al elemento con más contenido y ponerle relleno hace que
  los elementos de la fila de abajo se desplacen en base a dicho
  hover. Así se evitan todos esos problemas.
  */
#imgGalery .card:hover .cardFigure {
  transform: scale(0.90);
}

#imgGalery .card:hover .captionDescription {
  transform: scale(1);
}

#imgGalery .cardFigure {
  margin: 0;
  border-radius: inherit;
  transition: transform 0.3s ease;
}

#imgGalery .cardImg {
  width: 100%;
  border-top-left-radius: inherit;
  border-top-right-radius: inherit;
}

#imgGalery .cardCaption p {
  margin: 0;
  padding: 1dvh 1dvw;
}

#imgGalery .captionDescription {
  transition: transform 0.5s ease;
  transform: scale(0);
  font-style: italic;
}

#imgGalery .cardCaption .tag {
  font-weight: 700;
}

@media screen and (min-width: 600px) {
  #imgGalery .card {
    flex-basis: calc(50% - 1.1dvw);
  }
}

@media screen and (min-width: 768px) {
  #imgGalery .card {
    flex-basis: calc(33.33% - 1.331dvw);
  }
}

@media screen and (min-width: 1024px) {
  #imgGalery .card {
    flex-basis: calc(25% - 1.51dvw);
  }
}
